* {
  color: #000000;
  text-decoration: none;
  font-family: Arial;
}

html {
  background-image: linear-gradient(to bottom right, #00b7ff, #00e1ff);
}

html,
body {
  width: 100%;
  height: 100%;
}

a.link {
  color: #0091ff;
}

#main {
  border-radius: 10px;
  border: 2px solid #FFFFFF;
  padding: 20px;
  width: 600px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #FFFFFF;
}