* {
    font-family: Inter, system-ui, -apple-system, sans-serif;
    cursor: default;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: linear-gradient(to top right, #7ae4ff, #64eaff);
}
.codicon-menu {
    /* codicon的menu太宽了 */
    width: 0.8em;
    overflow: hidden;
}
#nav {
    padding: 0 1em;
    margin: 0.8em 0.8em 0 0.8em;
    height: 3em;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 0.8em #aaa;
}
#nav span:first-child {
    flex: 1;
}
#nav .codicon-menu {
    margin-right: 1em;
}
#nav .codicon {
    font-size: 1.5em;
}
#body {
    padding: 1em;
    margin: 0.8em;
    height: calc(100% - 7.4em);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 0.8em #aaa;
}
