@import url(/css/animation.css);

* {
    font-family: "Inter var", Inter, system-ui, -apple-system, sans-serif;
    cursor: default;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.codicon-menu {
    /* codicon的menu太宽了 */
    width: 0.8em;
    margin-right: 5px;
    overflow: hidden;
}
#nav {
    padding: 0 1em;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}
#nav span:first-child {
    flex: 1;
    margin-right: 1em;
}
#nav .codicon {
    font-size: 1.5em;
}
#body {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
}
#body > div {
    overflow: hidden;
}

