footer {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  vertical-align: top;
  padding: 0 300px;
  background-color: #1b2121;
  color: #fff;
}

section {
  margin: 30px;
}

section > h3::after {
  content: "";
  width: 40px;
  height: 4px;
  margin-top: 8px;
  border-radius: 10px;
  display: block;
  background-color: #3f8282;
}

footer a {
  color: #00a2ff;
}

@media only screen and (max-width: 1000px) {
  footer {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    padding: 0 100px;
  }
}
