#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-color: #2b3032;
}

#content > div:nth-child(even) {
  background-color: #242b2d;
}

#content > div {
  padding: 60px;
}
