@import url(/css/animation.css);
@import url(/css/codicon.css);
@import url(https://rsms.me/inter/inter.css);
* {
  font-family: 'Inter var experimental', 'Inter var', 'Inter', system-ui, -apple-system, sans-serif;
  cursor: default;
}
html {
  scroll-behavior: smooth;
}
html body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  user-select: none;
}
#nav {
  padding: 0 1em;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #eee;
  box-shadow: #999 0 0 1em;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}
#nav span:first-child {
  flex: 1;
}
#nav .codicon {
  font-size: 1.5em;
}
#body {
  background-color: #fff;
  width: 100%;
  left: 0 !important;
}
#body div {
  overflow: hidden;
  height: calc(100vh - 50px);
  padding-top: 50px;
}
.gllue-toolbar {
  display: none !important;
}
