* {
  color: #000000;
  text-decoration: none;
  font-family: 'Microsoft YaHei UI', Arial;
}

html {
  background-image: linear-gradient(to bottom right, #00b7ff, #00e1ff);
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a.link {
  color: #0091ff;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

table {
  margin: 0 auto;
}

a,
p,
span {
  font-size: x-large;
}

a.on {
  color: green;
}

a.off {
  color: red;
}

.ccenter {
  width: 50%;
  height: 70%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#main {
  /* 圆角 */
  border-radius: 10px;
  border: 2px solid #FFFFFF;
  padding: 20px;

  /* 绝对居中 */
  width: 50%;
  height: 70%;
  /* position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; */

  background-color: #FFFFFF;
  text-align: center;

  /* 滚动条 */
  overflow: auto;

  /* 阴影 */
  box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.2), 0 0px 16px 0 rgba(0, 0, 0, 0.19);
}

#bar {
  /* 圆角 */
  border-radius: 10px;
  border: 2px solid #FFFFFF;
  padding: 20px;

  /* 绝对居中 */
  width: 50%;
  height: 70%;
  /* position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; */

  background-color: #FFFFFF;
  text-align: center;

  /* 滚动条 */
  overflow: auto;

  /* 阴影 */
  box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.2), 0 0px 16px 0 rgba(0, 0, 0, 0.19);
}

/* 深色模式适配 */
@media (prefers-color-scheme: dark) {
  * {
    color: #FFFFFF;
  }

  html {
    background-image: linear-gradient(to bottom right, #2a2c2c, #3d3d3e);
  }

  #main {
    background: #000000;
    border: 2px solid #000000;
  }

  #download {
    content: url("/img/dark/download.png");
  }

  #back {
    content: url("/img/dark/back.png");
  }
}